<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/changePassword.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap" rel="stylesheet">

    <title>Change Password</title>
</head>

<body>
<div class="mainContainer">
    <div class="arrow"><img src="../icons/arrow.svg" id="icon" alt="SVG Image" width="100" height="100"></div>
    <h1 class="changePassword">CHANGE PASSWORD</h1>
    <div class="boxes">
        <div class="oldPassword"><input type="password" placeholder="Old Password" class="oldPasswordInput" id="oldPassword"></div>
        <div class="newPassword"><input type="password" placeholder="New Password" class="newPasswordInput" id="newPassword"></div>
        <div class="repeatNewPassword"><input type="password" placeholder="Repeat New Password" class="repeatNewPasswordInput" id="repeatNewPassword"></div>
        <div class="save">Save</div>
    </div>
</div>

</body>
</html>