<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/changePassword.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap" rel="stylesheet">

    <title>Change Password</title>
</head>

<body>
<div class="mainContainer">
    <a href="{{ url_for('auth.get_dash') }}"><img src="../static/icons/arrow.svg" alt="SVG Image" id="icon"
                                                  class="arrow"></a>

    <h1 class="changePassword">CHANGE PASSWORD</h1>

    <form id="passwordChangeForm">
        <div class="boxes">
            <div class="oldPassword">
                <input type="password" placeholder="Old Password" class="oldPasswordInput" id="oldPassword"
                       name="oldPassword">
            </div>
            <div class="newPassword">
                <input type="password" placeholder="New Password" class="newPasswordInput" id="newPassword"
                       name="newPassword">
            </div>
            <div class="repeatNewPassword">
                <input type="password" placeholder="Repeat New Password" class="repeatNewPasswordInput"
                       id="repeatNewPassword" name="repeatNewPassword">
            </div>
            <div class="save">
                <button type="submit">Confirm</button>
            </div>
        </div>
    </form>

</div>

</body>
</html>