<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/dashboard.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap" rel="stylesheet">

    <title>ED Dash</title>
</head>

<body>
<div class="grid-container">
    <div id="title-div">
        <p id="title">EARTHQUAKE <span style="color: rgb(0, 68, 255);">DETECTOR</span></p>
    </div>
    <div></div>
    <div></div>

    <div class="container" id="left-div">
        <h2>Device</h2>
        <div>
            <h4 style="margin-top: 20%;">Alarm Status</h4>
            <h3 id="alarm-status">Active</h3>
            <h4>Uptime</h4>
            <h3 id="uptime">0d 0h 0m</h3>
            <h4>Detection Mode</h4>
{#            aria-label: Sonarlint rule Web:S5255#}
            <nav class="navbar" id="mode-selector" aria-label="mode-selector">
                <ul>
                    <li>
                        <h3 id="selected-mode">Standard<img src="../static/icons/arrow.svg" alt="arrow"
                                                            class="arrow-img"></h3>
                        <ul id="mode-list" style="right: 50%">
                            <li><h3 id="mode-standard">Standard</h3></li>
                            <li><h3 id="mode-sensitive">Sensitive</h3></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="device-bottom-icons">
            <a href="{{ url_for('auth.logout') }}"><img src="../static/icons/sign-out.svg" alt="sign-out"
                                                        id="sign-out-icon"></a>
            <a href="{{ url_for('auth.change_passwd') }}" id="passwordChange"><img src="../static/icons/profile-pic.svg"
                                                                                   alt="change-password"
                                                                                   id="change-password-icon"></a>
        </div>
    </div>

    <div id="center-div">
        <div class="container" id="graph-div">
            <div class="header">
                <h2>Readings</h2>
                <nav class="navbar" aria-label="data-selector">
                    <ul>
                        <li>
                            <h3 id="selected-graph-data">Magnitude<img src="../static/icons/arrow.svg" alt="arrow"
                                                                class="arrow-img"></h3>
                            <ul id="graph-data-list" style="right: -20%">
                                <li id="opt-magnitude"><h3>Magnitude</h3></li>
                                <li id="opt-ax"><h3>A<sub>x</sub></h3></li>
                                <li id="opt-ay"><h3>A<sub>y</sub></h3></li>
                                <li id="opt-az"><h3>A<sub>z</sub></h3></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="graph-container">
                <svg id="graph"></svg>
            </div>
        </div>
        <div class="container" id="map-div">
            <h2>Map</h2>
            <div id="map">
                <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"></a>
            </div>
        </div>
    </div>

    <div class="container" id="right-div">
        <div class="header">
            <h2>Log</h2>
            <nav class="navbar" aria-label="log-scope-selector">
                <ul>
                    <li>
                        <h3 id="selected-scope">Global<img src="../static/icons/arrow.svg" alt="arrow" class="arrow-img">
                        </h3>
                        <ul id="log-scope-list" style="right: -20%">
                            <li><h3 id="scope-local">Local</h3></li>
                            <li><h3 id="scope-global">Global</h3></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="log-entries">
        </div>
    </div>
</div>

{# APIs #}
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

{# Helper functions #}
<script src="../static/scripts/dash-functionality/backendAPI.js"></script>
<script src="../static/scripts/dash-functionality/eventListeners.js"></script>
<script src="../static/scripts/dash-functionality/logEntries.js"></script>
<script src="../static/scripts/dash-functionality/sensitivityConfig.js"></script>
<script src="../static/scripts/dash-functionality/graph.js"></script>
<script src="../static/scripts/dash-functionality/map.js"></script>

{# Main function #}
<script src="../static/scripts/dashboard.js"></script>
</body>
</html>