<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- ensure that the page is properly displayed on different devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/dashboard.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap" rel="stylesheet">

<!--    Cenk's implementation -->
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <!--    Cenk's implementation -->

<!--    Cenk's implementation -->
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <!--    Cenk's implementation -->

    <title>Earthquake Detector</title>
</head>

<body>
    <div class="grid-container">
        <div id="title-div">
            <p id="title">EARTHQUAKE <span style="color: rgb(0, 68, 255);">DETECTOR</span></p>
        </div><div></div><div></div>

        <div class="container" id="left-div">
            <h2>Device</h2>
            <div>
                <h4 style="margin-top: 20%;">Alarm Status</h4>
                <h3 id="alarm-status">Active</h3>
                <h4>Uptime</h4>
                <h3 id="uptime">0d 1h 42min</h3>
                <h4>Detection Mode</h4>
                <h3 id="mode">Standard</h3>
            </div>
            <div id="device-bottom-icons">
                <a href="{{ url_for('auth.logout') }}"><img src="../static/icons/sign-out.svg" alt="sign-out" id="sign-out-icon"></a>
<!--                <div id="passwordChange"><img src="../static/icons/profile-pic.svg" alt="change-password" id="change-password-icon"></div>-->
                <a href="changePassword.html" id="passwordChange"><img src="../static/icons/profile-pic.svg" alt="change-password" id="change-password-icon"></a>
<!--                <div id="passwordChange"><img src="../static/icons/profile-pic.svg" alt="change-password" id="change-password-icon"></div>-->
                <a href="changePassword.html" id="passwordChange"><img src="../static/icons/profile-pic.svg" alt="change-password" id="change-password-icon"></a>
                <!-- todo: add icon to edit profile (reset password) -->
            </div>
        </div>

        <div id="center-div">
            <div class="container" id="graph-div">
                <div class="header">
                    <h2>Readings</h2>
                    <nav class="navbar">
                        <ul>
                            <li style="display: none">
                            <li style="display: none">
                                <h3 id="selected-time-interval">30 sec<img src="../static/icons/arrow.svg" alt="arrow" class="arrow-img"></h3>
                                <ul id="interval-list" style="right: 40%">
                                    <li><h3>5 sec</h3></li>
                                    <li><h3>30 sec</h3></li>
                                    <li><h3>1 min</h3></li>
                                    <li><h3>5 min</h3></li>
                                </ul>
                            </li>
    
                            <li>
                                <h3 id="selected-graph-data">Ax<img src="../static/icons/arrow.svg" alt="arrow" class="arrow-img"></h3>
                                <ul id="graph-data-list" style="right: -20%">
                                    <li id="opt-magnitude"><h3>Magnitude</h3></li>
                                    <li id="opt-ax"><h3>Ax</h3></li>
                                    <li id="opt-ay"><h3>Ay</h3></li>
                                    <li id="opt-az"><h3 >Az</h3></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="graph-container">
                    <svg id="graph"></svg>
                </div>
            </div>
            <div class="container" id="map-div">
                <h2>Map</h2>
<!--                Cenk's implementation-->
                <div id="map">
                    <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"></a>
                </div>
                <p><a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a></p>
<!--                Cenk's implementation-->
<!--                Cenk's implementation-->
                <div id="map">
                    <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"></a>
                </div>
                <p><a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a></p>
<!--                Cenk's implementation-->
            </div>
        </div>

        <div class="container" id="right-div">
            <div class="header">
                <h2>Log</h2>
                <nav class="navbar">
                    <ul>
                        <li>
                            <h3 id="selected-scope">Local<img src="../static/icons/arrow.svg" alt="arrow" class="arrow-img"></h3>
                            <ul id="log-scope-list" style="right: -20%">
                                <li><h3 id="interval0">Local</h3></li>
                                <li><h3 id="interval1">Global</h3></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="log-entries">
            </div>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <script src="../static/scripts/dashboardInteraction.js"></script>
    <script src="../static/scripts/dataVisualization.js"></script>
    <script src="../static/scripts/map.js"></script>




</body>

</html>