.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!/venv/lib/python3.9/site-packages/certifi

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#Ignore certs because Git bad
*.pem

**/__pycache__/