/* styles.css */
html,
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #F4F4F4;
    overflow: hidden;
}

.grid-container {
    display: grid;
    gap: 3%;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 5% 80%;
    padding: 3%;
    height: 100%;
}

.container {
    padding: 2rem;
    background-color: white;
    border-radius: 0.8rem;
}

#title-div {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

#title {
    color: #474747;
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 200;

    margin-bottom: 3%;
}

h2 {
    margin-top: 0;

    color: #151515;
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 600;
}

h3 {
    color: #151515;
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 600;

    margin-top: 0;
}

h4 {
    color: #474747;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0;
}

#left-div {
    display: flex;
    flex-direction: column;
}

#device-bottom-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
}

#device-bottom-icons img {
    height: 1.2rem;
    padding: 3%;
    border-radius: 40%;
}

#device-bottom-icons img:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#center-div {
    display: grid;
    gap: 3%;
    grid-template-rows: 1fr 1fr;
}

#readings-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#readings-header h3 {
    margin-right: 0;
    margin-left: auto;
}

#readings-header img {
    transform: rotate(90deg);
    height: 1rem;
    margin-left: 1%;
    padding: 0.3rem;
    border-radius: 20%;
}

#readings-header img:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#graph {
    margin: 2rem;
    margin-top: 4rem;
    height: 80%;
    border-radius: 1rem;
}

#map {
    display: none;
    height: 70%;
    background-color: green;
    border-radius: 1rem;
    margin: 4%;
    margin-top: 6%;
}

#log-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#log-header h3{
    margin-right: 0;
    margin-left: auto;
}

#log-header img {
    transform: rotate(90deg);
    height: 1rem;
    margin-left: 1%;
    padding: 0.3rem;
    border-radius: 20%;
}

#log-header img:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#log-entries {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 85%;
}

.entry {
    padding: 4%;
    border-radius: 0.4rem;
    border: 2px solid #d0d0d0;
    margin-bottom: 1rem;
}

.entry h3:first-of-type {
    margin-bottom: 0;
}

.entry h4 {
    font-size: 0.5rem;
    margin-top: 0;
    text-wrap:nowrap;
}
