.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 25.1vw;
    height: auto;
    background-color: #F4F4F4;
    border-radius: 1vw;
    padding: 2%;
}

.arrow {
    transform: rotate(180deg) scale(2);
    width: 1vw;
    height: 1vw;
    margin-left: 5%;
    margin-top: 10%;
}

.changePassword {
    margin-top: -6.5%;
    margin-left: 0%;
    font-weight: 400;

    color: #474747;
    font-family: Inter, sans-serif;
    font-size: 1.6vw;
    display: block;
    text-align: center;
}

.boxes {
    margin-top: 10%;
}
.oldPasswordInput, .newPasswordInput, .repeatNewPasswordInput {
    width: 20vw;
    height: 5vh;
    border-radius: 0.5vw;
    margin-left: 8%;
    margin-top: 5%;
    font-family: Inter, sans-serif;
    font-size: 1vw;
    color: black;
    font-weight: 400;
    text-indent: 1%;

}

.save button{
    width: 20.4vw;
    height: 5.7vh;
    border-radius: 0.5vw;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 15%;
    font-family: Inter, sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: #0073DE;
    z-index: 5;
    line-height: 5.5vh;
}


